header {
    border-bottom: 2px solid #eb99a1;;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin-bottom: 13px;
}

header nav li {
    list-style: none;
    flex-grow: 1;
    text-align: center;
}
