header {
    border-bottom: 2px solid #eb99a1;;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin-bottom: 13px;
}

header nav li {
    list-style: none;
    flex-grow: 1;
    text-align: center;
}

.byline {
    font-size: 0.8em;
    margin-top: -1em;
    margin-bottom: 1.5em;
    font-style: italic;
}

section.archive section.post-footer {
    display: flex;
    justify-content: space-between;
}

section.post-footer {
    align-items: center;
}

.post-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.post-tags > .post-tag {
    background-color: #e26f7a;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    white-space: nowrap;
    font-size: 0.8em;
}

.excerpt, .archive-description > p {
    margin-bottom: 0.5em;
}
