<section class="print:my-4 break-inside-avoid-page">
  <h2>Education</h2>
  <ol class="flex flex-col gap-4 md:gap-8">
    {% for school in resume.education %}
      <li class="font-light font-sans">
        <article class="flex flex-col gap-2 md:gap-4">
          <div class="flex flex-col">
            <p class="date">
              <time datetime="{{ school.startDate | dateStringToFormat("yyyy-MM-dd") }}">
                {{ school.startDate | yearString }}
              </time>
              &ndash;
              {% if school.endDate %}
                <time datetime="{{ school.endDate | dateStringToFormat("yyyy-MM-dd") }}">
                  {{ school.endDate | yearString }}
                </time>
              {% else %}
                present
              {% endif %}
            </p>
            <h3>
              {{ school.area }}
              <span aria-hidden="true">&middot;</span>
              {{ school.studyType }}
            </h3>
            <h4>
              {% if school.url %}
                <a href="{{ school.url }}" target="_blank" rel="noopener noreferrer">{{ school.institution }}</a>
              {% else %}
                <span>{{ school.name }}</span>
              {% endif %}
            </h4>
          </div>
        </article>
      </li>
    {% endfor %}
  </ol>
</section>
