<section>
  <h2>Work experience</h2>
  <ol class="flex flex-col gap-4 md:gap-8">
    {% for work in resume.work %}
      <li class="font-light font-sans">
        <article class="flex flex-col gap-2 md:gap-4">
          <div class="flex flex-col">
            <p class="date">
              <time datetime="{{ work.startDate | dateStringToFormat("yyyy-MM-dd") }}">
                {{ work.startDate | monthString }}
              </time>
              &ndash;
              {% if work.endDate %}
                <time datetime="{{ work.endDate | dateStringToFormat("yyyy-MM-dd") }}">
                  {{ work.endDate | monthString }}
                </time>
              {% else %}
                present
              {% endif %}
            </p>
            <h3>{{ work.position }}</h3>
            <h4>
              {% if work.url %}
                <a href="{{ work.url }}" target="_blank" rel="noopener noreferrer">{{ work.name }}</a>
              {% else %}
                <span>{{ work.name }}</span>
              {% endif %}
              {% if work.location %}
                <span aria-hidden="true">&middot;</span>
                <span>{{ work.location }}</span>
              {% endif %}
            </h4>
          </div>
          <ul class="list-disc pl-4 flex flex-col gap-2">
            {% for highlight in work.highlights %}
              <li class="font-light">{{ highlight }}</li>
            {% endfor %}
          </ul>
        </article>
      </li>
    {% endfor %}
  </ol>
</section>
