<header class="print:gap-8">
  <img class="avatar print:ml-auto" src="{{ resume.basics.image | base64asset }}" width="150" height="186" alt="{{ resume.basics.name }} avatar" />
  <div class="sm:flex sm:flex-col md:gap-2 gap-1">
    <h1>{{ resume.basics.name }}</h1>
    <p>
      Software Engineer &middot; Technical Consultant
    </p>
    <p>
      {% icon "location" %}
      {{ resume.basics.location.city }}, {{ resume.basics.location.region }}
    </p>
    <p>
      <a aria-label="Website" target='_blank' href="{{ resume.basics.url }}">
        {% icon "laptop" %}
        <span>{{ resume.basics.url | stripProtocol }}</span>
      </a>
      {% for profile in resume.basics.profiles %}
        <a aria-label="{{ profile.network }} profile" target='_blank' href="{{ profile.url }}">
          {% icon profile.network | lowercase %}
          <span>{{ profile.username }}</span>
        </a>
      {% endfor %}
      <a aria-label="Resume in PDF format" class="print:hidden" target='_blank' href="/resume.pdf">
        {% icon "pdf" %}
        <span>PDF resume</span>
      </a>
      <a aria-label="Resume in web format" class="hidden print:inline" target='_blank' href="{{ site.url }}">
        {% icon "web" %}
        <span>Web resume</span>
      </a>
    </p>
  </div>
</header>
