{%- set pageTitle -%}{{ resume.basics.name }} - {{ resume.basics.label }}{%- endset -%}
{%- set pageDescription -%}Online Resume of {{ resume.basics.name }}{%- endset -%}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ pageTitle }}</title>

{# General #}
<meta name="description" content="{{ pageDescription }}">
{% if site.env %}
  <link rel="canonical" href="{{ site.url }}">
{% endif %}
{# Open Graph #}
<meta property="og:site_name" content="{{ pageTitle }}">
<meta property="og:title" content="{{ pageTitle }}">
<meta property="og:description" content="{{ pageDescription }}">
<meta property="og:url" content="{{ site.url }}">
<meta property="og:locale" content="{{ site.locale }}">
<meta name="twitter:card" content="summary">
<meta property="og:image" content="{{ resume.basics.image }}">

{# Favicon #}
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/favicon/apple-touch-icon.png' | url }}">
<link rel="icon" type="image/png" href="{{ '/assets/images/favicon/favicon-32x32.png' | url }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ '/assets/images/favicon/favicon-16x16.png' | url }}" sizes="16x16">
<link rel="shortcut icon" href="{{ '/assets/images/favicon/favicon.ico' | url }}">
<link rel="manifest" href="{{ '/site.webmanifest' | url }}">
<link rel="mask-icon" href="{{ '/assets/images/favicon/safari-pinned-tab.svg' | url }}" color="#7E22CE">
<meta name="theme-color" content="#7E22CE">

{# JSON LD #}
<script type="application/ld+json">
    {
        "name":"{{ resume.basics.name }}",
        "description":"{{ resume.basics.label }}",
        "author": {
            "@type":"Person",
            "name":"{{ resume.basics.name }}"
        },
        "@type":"WebSite",
        "url":"{{ site.url }}",
        "image":"{{ resume.basics.image }}",
        "headline":"{{ resume.basics.name }}",
        "@context":"http://schema.org"
    }
</script>