<section>
  <h2>Projects</h2>
  <dl>
    {% for project in resume.projects %}
      <dt>
        <a href="{{ project.url }}">{{ project.name }}</a>
      </dt>
      <dd>{{ project.description }}</dd>
    {% endfor %}
  </dl>
</section>