<aside class="bg-purple-700 [grid-area:sidebar] text-gray-100">
  <div class="fixed top-2 right-3/4 text-right mr-4 flex flex-col gap-16">
    <header>Colby M. White</header>
    <section>
      <p>Austin, TX</p>
      <p>colby.white@sustainabledev.io</p>
      <p><a href="http://edgebound.dev">edgebound.dev</a></p>
    </section>
  </div>
</aside>
