<section class="print:my-4 break-inside-avoid-page">
  <h2>Skills</h2>
  <dl>
    {% for skill in resume.skills %}
      <dt>
        {{ skill.name }}
      </dt>
      <dd>
        {{ skill.keywords | join(', ') }}
      </dd>
    {% endfor %}
  </dl>
</section>
