---
layout: base
---

<div class="flex flex-col gap-8 md:gap-16 m-4 md:m-8 print:block">
  {% include "header.njk" %}
  <main class="flex flex-col gap-4 md:gap-8 print:block print:mt-8">
    <h3>To whom it may concern,</h3>
    {{ content | safe }}
    <p>Regards</p>
    <p>
      Colby M. White<br />
      Austin, TX<br />
      <a href="https://colbywhite.dev">colbywhite.dev</a>
    </p>
  </main>
</div>
{%- set updatedDate = page.date -%}
{% include "footer.njk" %}