---
layout: base
---

<div class="flex flex-col gap-8 md:gap-16 m-4 md:m-8 print:block">
  {% include "header.njk" %}
  <main class="flex flex-col gap-8 md:gap-16 print:block print:mt-8">
    {{ content | safe }}
  </main>
</div>
{%- set updatedDate = resume.meta.updatedAt -%}
{% include "footer.njk" %}