---
import { slugifyStr } from "@/utils/slugify";

export interface Props {
  variant?: "h2" | "h3";
  title: string;
  href: string;
  description?: string;
}

const { variant = "h2", title, href, description } = Astro.props;

const headerProps = {
  style: { viewTransitionName: slugifyStr(title) },
  class: "text-lg font-medium decoration-dashed hover:underline",
};
---

<li class="my-6">
  <a
    href={href}
    class="inline-block text-lg font-medium text-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
  >
    {
      variant === "h2" ? (
        <h2 {...headerProps}>{title}</h2>
      ) : (
        <h3 {...headerProps}>{title}</h3>
      )
    }
  </a>
  <slot />
  {description && <p class="mt-4">{description}</p>}
</li>
