---
layout: base.njk
---

<main class="flex flex-col gap-16">
  {% include "about.njk" %}
  {% include "experience.njk" %}
  {% include "education.njk" %}
  {% include "skills.njk" %}
  {% include "projects.njk" %}
</main>