---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import Layout from "./Layout.astro";
import { SITE } from "@/config";
import Avatar from "@/assets/images/avatar.jpg";
import { Image } from "astro:assets";
import Socials from "../components/Socials.astro";

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <Header />
  <Breadcrumb />
  <main id="main-content">
    <section id="about" class="prose mb-12 max-w-3xl">
      <aside
        class="float-none mb-4 flex flex-col items-center rounded-4xl bg-accent p-4 shadow-xl sm:float-right sm:ml-8"
      >
        <Image
          src={Avatar}
          alt="Colby M. White's headshot"
          width="150"
          height="186"
          class="rounded-full border-4 border-foreground"
        />
        <h2 class="mt-3">Colby M. White</h2>
        <h4 class="">Austin, TX</h4>
        <Socials class="prose-invert" />
      </aside>
      <h1 class="text-2xl tracking-wider sm:text-3xl">{frontmatter.title}</h1>
      <slot />
    </section>
  </main>
  <Footer />
</Layout>
